/*
|--------------------------------------------------------------------------
| Media mixins
|--------------------------------------------------------------------------
|
*/
$screen-sm-min: 768px;
$screen-md-min: 900px;
$screen-lg-min: 1200px;
$screen-xlg-min: 1440px;

@mixin sm {
  @media screen and (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin xlg {
  @media (min-width: #{$screen-xlg-min}) {
    @content;
  }
}

/*
|--------------------------------------------------------------------------
| Button mixins
|--------------------------------------------------------------------------
|
*/
@mixin Button {
  display: inline-block;
  padding: 12px calc(var(--Grid_Gutter) * 2);

  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;

  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  line-height: 14px;
  border-radius: var(--Global_Radius);

  transition: background-color var(--Global_Transition),
  border var(--Global_Transition),
  color var(--Global_Transition);
}

@mixin Button-primary {
  @include Button;

  border-color: var(--Color_Brand);

  color: var(--Color_Brand);

  &:hover {
    @include sm {
      background-color: var(--Color_Brand);

      color: #fff;
    }
  }
}

@mixin Button-secondary {
  @include Button;

  background-color: transparent;
  border-color: var(--Color_Brand);

  color: var(--Color_Brand);

  &:hover {
    background-color: var(--Color_Brand);

    color: #fff;
  }
}

/*
|--------------------------------------------------------------------------
| Grid mixins
|--------------------------------------------------------------------------
|
*/
@mixin Grid_Container {
  max-width: calc(var(--Grid_Container) + (var(--Grid_Gutter) * 2));
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--Grid_Gutter);

  @include sm {
    max-width: calc(var(--Grid_Container) + (var(--Grid_Gutter) * 4));
    padding: 0 calc(var(--Grid_Gutter) * 2);
  }

  @include lg {
    max-width: calc(var(--Grid_Container) + (var(--Grid_Gutter) * 6));
    padding: 0 calc(var(--Grid_Gutter) * 3);
  }
}
